header{

    background-color: brown;

}

main{

    background-color: orange;
    

}

footer{

    background-color: black;

}

img{

    width: 300px;

}

/* header img{

    width: 200px

}*/

h1{

    text-align: center;


}